@font-face {
  font-family: 'DTStraits';
  src: url('./fonts/DTStraitsSansTrial-Extrabold.otf') format('opentype');
}

@font-face {
  font-family: 'DTStraitsSansTrial-Medium';
  src: url('./fonts/DTStraitsSansTrial-Medium.otf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DBF9F0;
}

.container {
  margin: 50px auto;
  background-color: #DBF9F0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  filter: blur(0);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.card {
  padding: 10px;
  background-color: #F7F9F7 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #750D37;
}

.card-img-top {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/* App.css */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 85%;
  outline: .5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.25rem;
  background-color: var(--modal-background-color); 
  border-color: var(--modal-close-button-color);
}

.custom-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--modal-close-button-color); 
  cursor: pointer;
}

.modal-image {
  flex-grow: 1;
  width: 100%;
  max-height: 50%;
  object-fit: contain;
  border-radius: 0.25rem;
}

.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.color-palette-item {
  font-family: 'DTStraitsSansTrial-Medium', sans-serif;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
}

.app-heading {
  font-family: "Omnes", sans-serif;
  text-align: center;
  color: #750D37;
  margin-bottom: 40px;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 2px;
}

.copy-palette-button {
  font-family: 'DTStraitsSansTrial-Medium', sans-serif;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--modal-background-color);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Media Query for smaller screens */
@media (max-width: 1070px) {
  .color-palette-item {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 814px) {
  .color-palette-item {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1070px) {
  .color-palette-item {
    width: 60px;
    height: 60px;
  }
}

